.doctor-card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  text-align: center;
  transition: all 0.2s ease;
  width: 100%;
  max-width: 320px;
  box-sizing: border-box;
  cursor: pointer;
}

.doctor-card:hover {
  transform: translateY(-5px);
}

.doctor-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.info h3 {
  font-size: 1.1rem;
  color: #20252f;
  text-transform: capitalize;
  margin-bottom: 0.4rem;
  word-wrap: break-word;
}

.dias {
  font-weight: 600;
  color: #444;
  margin-bottom: 1rem;
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

/* CHIP CON GRADIENTE */
.chip {
  display: inline-block;

  background-image:
    linear-gradient(#fff, #fff), linear-gradient(to right, #0077b6, #00c4b4);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  border: 1px solid transparent;
  color: #0077b6;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: default;
  transition:
    ease-in-out 0.2s ease,
    color 0.2s ease;
}

.chip:hover {
  background-image: linear-gradient(to right, #0077b6, #00c4b4);
  color: #ffffff;
}

.descripcion {
  color: #666;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  line-height: 1.4;
}

/* BOTÓN REVIEWS CON GRADIENTE */
.btn-reviews {
  display: inline-block;
  background: linear-gradient(to right, #0077b6, #00c4b4);
  color: #ffffff;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 1rem;
  text-align: center;
}

.btn-reviews:hover {
  transform: translateY(-2px);
  opacity: 0.85;
}

@media (max-width: 480px) {
  .doctor-card {
    padding: 1rem;
    margin: auto;
    max-width: 80%;
  }

  .doctor-card img {
    border-radius: 10px;
  }

  .info h3 {
    font-size: 1rem;
  }

  .chip {
    font-size: 0.75rem;
    padding: 0.3rem 0.6rem;
  }

  .descripcion {
    font-size: 0.85rem;
  }

  .btn-reviews {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    margin-top: 0.8rem;
  }
}
