<div class="profile-container">
  <div class="profile-grid">
    <form
      [formGroup]="formProfile"
      (ngSubmit)="onSubmitProfile()"
      class="profile-form"
    >
      <div class="profile-header">
        <div>
          <h2>Profile Information</h2>
          <p>View and edit your personal details below</p>
        </div>

        <div class="medical-profile-button" *ngIf="user?.userType === 'DOCTOR'">
          <a class="btn-medical" routerLink="/profile-doctor">Perfil Médico</a>
        </div>
      </div>

      <div class="form-group double">
        <div class="input-field">
          <label for="firstName">First name</label>
          <input id="firstName" type="text" formControlName="firstName" />
        </div>
        <div class="input-field">
          <label for="lastName">Last name</label>
          <input id="lastName" type="text" formControlName="lastName" />
        </div>
      </div>

      <div class="form-group double">
        <div class="input-field">
          <label for="password">New password</label>
          <input id="password" type="password" formControlName="password" />
        </div>
        <div class="input-field">
          <label for="repeatPassword">Repeat password</label>
          <input
            id="repeatPassword"
            type="password"
            formControlName="repeatPassword"
          />
        </div>
      </div>

      <div class="form-group full">
        <div class="input-field full">
          <label for="address">Address</label>
          <input id="address" type="text" formControlName="address" />
        </div>
      </div>

      <div class="form-group gender-group">
        <label>Gender</label>
        <div class="gender-options">
          <label
            ><input type="radio" value="male" formControlName="gender" />
            Male</label
          >
          <label
            ><input type="radio" value="female" formControlName="gender" />
            Female</label
          >
          <label
            ><input type="radio" value="non-binary" formControlName="gender" />
            Non-binary</label
          >
        </div>
      </div>

      <div class="action-buttons">
        <button type="button" class="btn-secondary" (click)="cancel()">
          Cancel
        </button>
        <button type="submit" class="btn-primary">Save Changes</button>
      </div>
    </form>
  </div>
</div>
