<div class="doctor-detail" *ngIf="doctor$ | async as doctor">
  <div class="header">
    <h1>{{ doctor.firstName }} {{ doctor.lastName }}</h1>
  </div>

  <div class="description">
    <p>{{ doctor.description }}</p>
  </div>

  <!-- Horarios disponibles -->
  <div class="horarios-section">
    <h3>Horarios Disponibles</h3>
    <p class="session-info">
      Las sesiones tienen una duración de <strong>1 hora</strong>.
    </p>

    <div class="horarios-list">
      @for (entry of doctor.availability | keyvalue; track entry.key) {
      <div class="horarios-dia">
        <span class="dia-titulo">{{ entry.key | titlecase }}</span>

        <div class="chips">
          @for (hora of entry.value; track hora) {
          <span class="chip hora-chip">{{ hora }}</span>
          }
        </div>
      </div>
      }
    </div>
  </div>

  <!-- Calendario -->
  <app-calendar
    [schedule]="doctor.schedule ?? {}"
    [availability]="doctor.availability ?? {}"
  >
  </app-calendar>
</div>
