<div class="reviews-container">
  <div class="review-form-section">
    @if (!isEditing) {
    <h3>Deja tu reseña</h3>
    } @else {
    <h3>Editando tu reseña</h3>
    }

    <form [formGroup]="reviewForm" (ngSubmit)="onSubmitReview()">
      <div class="form-group">
        <label for="value">Valoración (1 a 5 estrellas):</label>
        <input
          id="value"
          type="number"
          formControlName="value"
          min="1"
          max="5"
        />

        @if (reviewForm.get('value')?.touched &&
        reviewForm.get('value')?.hasError('required')) {
        <div class="error-message">La valoración es obligatoria.</div>
        }
      </div>

      <div class="form-group">
        <label for="comment">Comentario:</label>
        <textarea
          id="comment"
          formControlName="comment"
          rows="4"
          placeholder="Escribe tu opinión aquí..."
        >
        </textarea>

        @if (reviewForm.get('comment')?.touched &&
        reviewForm.get('comment')?.hasError('required')) {
        <div class="error-message">El comentario es obligatorio.</div>
        } @if (reviewForm.get('comment')?.touched &&
        reviewForm.get('comment')?.hasError('minlength')) {
        <div class="error-message">
          El comentario debe tener al menos 8 caracteres.
        </div>
        }
      </div>

      <div class="form-actions">
        <button type="submit" [disabled]="reviewForm.invalid">
          {{ isEditing ? "Actualizar Reseña" : "Publicar Reseña" }}
        </button>

        @if (isEditing) {
        <button type="button" (click)="resetForm()" class="button-secondary">
          Cancelar Edición
        </button>
        }
      </div>
    </form>
  </div>

  <hr />

  <div class="review-list-section">
    <h3>Reseñas del Doctor</h3>

    @if (reviews.length === 0) {
    <div class="empty-state">
      Todavía no hay reseñas para este doctor. ¡Sé el primero!
    </div>
    } @for (review of reviews; track review.id) {
    <div class="review-card">
      <div class="review-header">
        <div class="review-stars">Valoración: {{ review.value }} / 5</div>

        @if (review.patientId === userLogged?.id) {
        <div class="review-actions">
          <button (click)="selectReviewToEdit(review)" class="button-edit">
            Editar
          </button>
          <button (click)="deleteReview(review.id)" class="button-delete">
            Eliminar
          </button>
        </div>
        }
      </div>

      <p class="review-comment">{{ review.comment }}</p>
    </div>
    }
  </div>
</div>
