<h1>Psicologos disponibles</h1>
<input
  type="text"
  placeholder="Buscar por nombre, apellido o especialidad..."
  [(ngModel)]="searchText"
  class="search-input"
/>

<div class="day-filter-container">
  <h2>Filtrar por día:</h2>
  <div class="day-filters">
    <button
      *ngFor="let day of daysOfWeek"
      class="day-btn"
      [class.active-day]="selectedDay() === day"
      (click)="setDay(day)"
    >
      {{ day.charAt(0).toUpperCase() + day.slice(1) }}
    </button>
  </div>
</div>

<div class="doctores-container">
  @for (doctor of filteredDoctors(); track doctor.id) {
  <app-doctor-card
    [doctor]="doctor"
    (navigate)="goToDetail($event)"
  ></app-doctor-card>
  }
</div>
