* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  height: 100vh;
}
:root {
  --primary-gradient: linear-gradient(to right, #0077b6, #00c4b4);
  --primary-shadow: 0 0 0 3px rgba(0, 196, 180, 0.25);
}
