<div class="not-found-container">
  <main class="content card">
    <img
      src="/assets/not-found.png"
      alt="Ilustración 404"
      class="illustration"
    />
    <div class="text">
      <h1>Esta página no está disponible</h1>
      <p>
        No te preocupes, a veces tomar el camino equivocado forma parte del
        viaje. El enlace que buscás no existe o fue movido.
      </p>
    </div>

    <div class="buttons">
      <a routerLink="/home" class="btn-primary">Volver al inicio</a>
      <a routerLink="/doctors" class="btn-secondary">Buscar profesionales</a>
    </div>
  </main>
</div>
