<nav class="navbar">
  <div class="logo" routerLink="home">
    <img src="/assets/logo.png" alt="Therapify Logo" />
    <span>Therapify</span>
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <ul [class.active]="menuOpen" class="nav-links">
    <li><a routerLink="doctors">Buscar Terapeutas</a></li>
    <li><a href="#">Cómo Funciona</a></li>
    <li><a href="#">Sobre Nosotros</a></li>

    <li>
      <button class="login-btn" (click)="goToProfile()">
        {{ isLogged() ? "Mi Perfil" : "Acceso/Login" }}
      </button>
    </li>
  </ul>
</nav>
