<nav class="navbar">
  <div class="logo" routerLink="home">
    <img src="/assets/logo.png" alt="Therapify Logo" />
    <span>Therapify</span>
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <ul [class.active]="menuOpen" class="nav-links">
    <li>
      <a
        routerLink="doctors"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Buscar Terapeutas
      </a>
    </li>
    <li>
      <a
        routerLink="appointments"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Mis turnos
      </a>
    </li>
    <li>
      <a href="#" class="inactive-link">Sobre Nosotros</a>
    </li>
    <li>
      <a
        routerLink="profile"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Mi Perfil
      </a>
    </li>
    <li>
      <button
        class="login-btn"
        [class.logout-btn]="userService.isLoggedSignal()"
        (click)="handleLoginLogout()"
      >
        {{ userService.isLoggedSignal() ? "Cerrar Sesión" : "Acceso/Login" }}
      </button>
    </li>
  </ul>
</nav>
