.navbar {
  display: flex;
  padding: 1rem 5rem;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  font-family: "Inter", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

.logo img {
  width: 32px;
  height: 32px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}
.nav-links a:hover,
.nav-links a.active-link {
  color: #007ab6;
}

.login-btn,
.logout-btn {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;
}

.login-btn {
  border: 1px solid #66beb3;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  color: #66beb3;
}

.login-btn:hover {
  color: #fff;
  background-color: #66beb3;
}

.logout-btn {
  border: 1px solid #e53e3e;
  color: #e53e3e;
}

.logout-btn:hover {
  background-color: #e53e3e;
  color: #fff;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 992px) {
  .navbar {
    padding: 1rem 2rem;
    position: relative;
  }

  .menu-toggle {
    display: block;
  }

  .nav-links {
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height 0.35s ease,
      opacity 0.25s ease;
  }

  .nav-links.active {
    max-height: 500px;
    opacity: 1;
  }
}

@media (min-width: 1440px) {
  .navbar {
    padding: 1rem 7rem;
  }
}
